---
import Nextjs from '../icons/Nextjs.astro';
import Tailwind from '../icons/Tailwind.astro';
import React from '../icons/React.astro';
import Vitejs from '../icons/Vitejs.astro';
import JavaScript from '../icons/JavaScript.astro';
import Threejs from '../icons/Threejs.astro';
import LinkButton from './LinkButton.astro';
import GitHub from '@/icons/GitHub.astro';
import Web from '@/icons/Web.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: Nextjs,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  VITE: {
    name: 'Vite.js',
    class: 'bg-[#1B1B1F] text-white',
    icon: Vitejs,
  },
  REACT: {
    name: 'React.js',
    class: 'bg-[#23272F] text-white',
    icon: React,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-[#000000] text-white',
    icon: JavaScript,
  },
  THREEJS: {
    name: 'Three.js',
    class: 'bg-[#0073B4] text-white',
    icon: Threejs,
  },
};
const PROJECTS = [
  {
    title: 'TicTacToe',
    description:
      'Proyecto desarrollado como practica utilizando React.js y Vite.js, donde se recrea toda la lógica del juego, se debe jugar con 2 personas y cada uno tendrá su turno. Este proyecto esta publicado en github pages y lo podrás revisar la demo con el botón de sitio web y el código fuente con el botón GitHub.',
    link: 'https://danieltuttos.github.io/React-TicTacToe/',
    github: 'https://github.com/DanielTuttos/React-TicTacToe',
    image: '/projects/tictactoe.jpeg',
    tags: [TAGS.REACT, TAGS.VITE, TAGS.JAVASCRIPT],
  },
  {
    title: 'Minecraft clone',
    description:
      'Clone de el famoso juego MINECRAFT desarrollado para la web con React.js, Vite.js y Three.js para el manejo de 3d en la web. El juego es un clone con una de las funcionalidades básicas del juego original que es la creación de cubos con diferentes texturas. Solo esta recreada esa funcionalidad con un selector de texturas que funciona con las teclas numéricas del 1 al 5.',
    link: 'https://danieltuttos.github.io/Minecraft-clone-react/',
    github: 'https://github.com/DanielTuttos/Minecraft-clone-react',
    image: '/projects/minecraft-clone.jpeg',
    tags: [TAGS.REACT, TAGS.VITE, TAGS.JAVASCRIPT, TAGS.THREEJS],
  },
];
---

<section class='flex flex-col gap-y-14 mb-10'>
  {
    PROJECTS.map(({ title, description, tags, image, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
        <p class="text-lg mb-2 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-4">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

        <img
          class="rounded shadow-2xl shadow-white/20 "
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
        <footer class="flex gap-x-4 mt-4 justify-end">
          <LinkButton href={github}>
            <GitHub class="size-6" />
            Ver codigo fuente
          </LinkButton>
          <LinkButton href={link}>
            <Web class="size-6" />
            Ir al sitio web
          </LinkButton>
        </footer>
      </article>
    ))
  }
</section>
